.div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: 400px;
}
  
.div.gallery:hover {
    border: 1px solid #777;
}
  
.div.gallery img {
    width: 100%;
    height: auto;
}

.main-div-properties {
    background-color: #232323
}

.image-properties {
    height: 300;
    width: 200;
}